* {
     box-sizing: border-box; 
  } 
#app{
  display: flex;
  flex-wrap: wrap;
  width:400px;
  height: 400px;
  margin: 200px auto;
  position: relative;
  border: 2px solid #000;
  border-radius: 5px;
}
.new-game{
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 2rem;
  color: #fff;
  font-weight: bold;
  line-height: 2.5rem;
  border: none;
  outline: none;
  background-color: green;
  border-radius: 20px;
  cursor: pointer;
  &:hover{
    opacity: 0.7;
  }
}
.bone{
  width: 25%;
  height: 25%;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  line-height: 100px;
  font-size: 2rem;
  cursor:no-drop;
}
.hold {
  border: solid 5px #ccc;
}
.epmty{
  border: none;
  cursor: default;
}
.dragBone{
  color: green;
  cursor: pointer;
}
.winner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: green;
  font-size: 76px;
  font-weight: bold;
  

}